@model IEnumerable<JobViewModel>
@{
    ViewData["Title"] = "Jobs";
}

<div class="content-wrapper">
    <section class="content-header" style=" margin: 0 auto;max-width:1500px">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active">Jobs</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content-header" style=" margin: 0 auto;max-width:1500px">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="input-group input-group mb-3 col-12">
                    <div class="input-group-prepend seachfilter-container" id="categoryfilter-container">
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="min-width:200px">
                            Job Category
                        </button>
                        <ul class="dropdown-menu" style="">
                            <li class="dropdown-item" id="0"><a href="#"></a></li>
                            @foreach (Category category in ViewBag.Categories as IEnumerable<Category>)
                            {
                                <li class="dropdown-item filteritem" data-type="category" data-id="@category.Id" id="category-filter-@category.Id"><a href="#">@category.Name</a></li>
                            }
                        </ul>
                    </div>
                    <div class="input-group-prepend seachfilter-container" id="locationfilter-container">
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="min-width:200px">
                            Job Location
                        </button>
                        <ul class="dropdown-menu" style="">
                            <li class="dropdown-item" id="0"><a href="#"></a></li>
                            @foreach (Location location in ViewBag.Locations as IEnumerable<Location>)
                            {
                                <li class="dropdown-item filteritem" data-type="location" data-id="@location.Id" id="location-filter-@location.Id"><a href="#">@location.FullAddress</a></li>
                            }
                        </ul>
                    </div>
                    <input type="text" class="form-control" id="title-search-input">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-success btn-flat" id="hider-search-bar">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content" style=" margin: 0 auto;max-width:1500px">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header bg-secondary">
                            <h3 class="card-title">Categories</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <div class="p-4">
                                @foreach (Category category in ViewBag.Categories as IEnumerable<Category>)
                                {
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input chb-filter" data-id="@category.Id" data-type="category" id="categoryFilter-@category.Id">
                                        <label class="form-check-label" for="categoryFilter-@category.Id">@category.Name</label>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header bg-secondary">
                            <h3 class="card-title">Employment Types</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <div class="p-4">
                                @foreach (EmploymentType type in ViewBag.EmploymentType as IEnumerable<EmploymentType>)
                                {
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input chb-filter" data-id="@type.Id" data-type="type" id="type-@type.Id">
                                        <label class="form-check-label" for="type-@type.Id">@type.Name</label>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header bg-secondary">
                            <h3 class="card-title">Location</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <div class="p-4">
                                @foreach (Location location in ViewBag.locations as IEnumerable<Location>)
                                {
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input chb-filter" data-id="@location.Id" data-type="location" id="location-@location.Id">
                                        <label class="form-check-label" for="location-@location.Id">@location.FullAddress</label>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="card card-body">
                        <div class="card-header p-2">
                            <h3 class="card-title">Jobs </h3>
                        </div><!-- /.card-header -->
                        <div class="job-list" data-user="@User.Identity.IsAuthenticated">
                            @foreach (JobViewModel item in Model)
                            {
                                <div class="card-body border-bottom jobrow" data-id="@item.Id">
                                    <div class="post" style="position:relative">
                                        <div style="margin-right: 20px; height: 65px;" class="float-left">
                                            <img src="@item.Image" style="height:100%" />
                                        </div>
                                        <h3 class="username">@item.Title</h3>
                                        <span class="description mr-2"><i class="fas fa-map-marker-alt mr-1"></i>@item.Location</span>
                                        <span class="description"><i class="far fa-clock mr-1"></i>@item.EmploymentType</span>
                                        <div class="float-right btn-side" style="top: -7px; width: 200px; position: absolute; right: 0;">
                                            <div class="row">
                                                @if (item.Bookmarked)
                                                {
                                                    <div class="col-12" style="margin-bottom:5px;">
                                                        <button class="btn btn-info unbookmarkBtn" data-id="@item.Id" style="float: right">
                                                            <i class="fa fa-bookmark"></i> bookmarked
                                                        </button>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="col-12" style="margin-bottom:5px;">
                                                        <a class="btn btn-outline-info bookmarkBtn" data-id="@item.Id" style="float: right">
                                                            <i class="far fa-bookmark"></i> bookmark
                                                        </a>
                                                    </div>
                                                }
                                                <div class="col-12" style="float:right">
                                                    <button class="btn btn-success" style="float: right">
                                                        <i class="fas fa-briefcase"></i> Applay For This Job
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
